# Environments
venv/
env/
.env

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Jupyter Notebooks
.ipynb_checkpoints/

# Streamlit
.streamlit/secrets.toml

# IDEs
.vscode/
.idea/

# Data & Models
models/
*.csv